.about {
  height: 100vh;
}
.about .wrapper {
  display: flex;
}
.about h1 {
  position: relative;
  top: 6rem;
  margin-bottom: 6rem;
}
.left {
  display: flex;
  flex: 1;
  flex-direction: column;

  margin-left: 13rem;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}
svg {
  height: 15rem;
}
circle {
  border: 5px solid transparent;
}

.bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 8rem;
}
.left p {
  height: 230px;
  width: 390px;
  color: white;
  font-size: clamp(0.75rem, 1.4vw, 1.125rem);
  font-weight: 500;
  line-height: clamp(21px, 3vw, 32px);
}
.right {
  flex: 1;
  height: 78vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8rem;
}
.cardwrapper {
  display: grid;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6"
    "card7 card8 card9"
    " .    card10 .";

  grid-template-columns: repeat(3, 12rem);
  grid-auto-rows: 8.5rem;
  grid-gap: 1.8rem;
}
.about .card {
  background-color: rgb(37, 41, 52);
  color: white;
  /* border: 4px solid blue; */

  background: linear-gradient(rgb(37, 41, 52), rgb(37, 41, 52)) padding-box,
    linear-gradient(
        to right,
        rgba(255, 0, 238, 0.838),
        rgba(255, 148, 248, 0.838),
        rgba(247, 193, 243, 0.838),
        rgba(168, 190, 191, 0.839),
        rgba(126, 192, 194, 0.839),
        rgba(4, 194, 201, 0.839)
      )
      border-box;

  border: 3px solid transparent;
  border-radius: 10px;
}

.about .card1 {
  grid-area: card1;
  display: flex;
  align-items: center;
  position: relative;
  top: 4rem;
}
.card1 img {
  margin-top: 1rem;
  width: 5rem;
}
.card1 .skills {
  text-align: right; /* Right-align text */
  /* padding-top: 10px; 
  padding-bottom: 10px;  */
  color: white; /* White text color */
}
.card1 .container {
  width: 90%; /* Full width */
  background-color: #ddd; /* Grey background */
  padding-left: 0;
  height: 1rem;
  margin-top: 0.5rem;
  /* margin-left: 1rem; */
}
.card1 .html {
  height: 1rem;
  width: 90%;
  background-color: #04aa6d;
}
.about .card2 {
  grid-area: card2;
}
.about .card3 {
  grid-area: card3;
  position: relative;
  top: 4rem;
}
.about .card4 {
  grid-area: card4;
  position: relative;
  top: 4rem;
}
.about .card5 {
  grid-area: card5;
}
.about .card6 {
  grid-area: card6;
  position: relative;
  top: 4rem;
}
.about .card7 {
  grid-area: card7;
  position: relative;
  top: 4rem;
}
.about .card8 {
  grid-area: card8;
}
.about .card9 {
  grid-area: card9;
  position: relative;
  top: 4rem;
}
.about .card10 {
  grid-area: card10;
}
