@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: rgb(37, 41, 52);
  margin: 0;
  padding: 0;
}
header {
  display: flex;
}
.h1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  width: 100vw;
  color: white;
  font-family: Raleway;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.h1 span {
  color: rgb(4, 194, 201);
}
nav {
  position: fixed;
}
ul {
  list-style: none;
}
li {
  margin-top: 5.5rem;
}
