@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: rgb(37, 41, 52);
  margin: 0;
  padding: 0;
}
main h1 {
  color: white;
  font-family: Raleway;
  font-weight: 400;
  font-size: 3rem;
}
/* Nav */
nav {
  margin-top: 4rem;
  position: fixed;
}
ul {
  list-style: none;
}
li {
  margin-top: 4rem;
}
